[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-Fundme/lib/openzeppelin-contracts"]
	path = foundry-Fundme/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-Fundme/lib/v3-core"]
	path = foundry-Fundme/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "foundry-Fundme/lib/v3-periphery"]
	path = foundry-Fundme/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "foundry-Fundme/lib/v2-periphery"]
	path = foundry-Fundme/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
